.card-crew2 {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-crew2:last-child {
  margin-bottom: 0;
}

.card-crew2-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.card-crew2-image > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: top;
}

.card-crew2-info {
  margin-left: 10px;
}

.card-crew2-name {
  font-weight: bold;
}

.card-crew2-job {
  font-size: 0.9rem;
  margin-top: 4px;
}
