.detail-movie-page {
  width: 100%;
  background-color: #111111;
  padding-left: 0;
  padding-top: 60px;
  transition: all 0.3s ease;
  position: relative;
}

.dm-backdrop {
  width: 100%;
  height: 500px;
  position: relative;
}

.dm-blank {
  width: 320px;
  height: 500px;
  background-color: #111111;
}

.dm-backdrop > img {
  display: block;
  position: absolute;
  top: 0;
  left: 320px;
  width: calc(100% - 320px);
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.dm-backdrop-overlay {
  position: absolute;
  top: 0;
  left: 320px;
  width: calc(100% - 320px);
  height: 500px;
  background: rgb(17, 17, 17);
  background: linear-gradient(90deg, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0.8) 50%, rgba(17, 17, 17, 0.8) 100%);
}

.dm-content {
  position: absolute;
  top: 40px;
  left: 40px;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.dm-poster {
  width: 280px;
  height: 420px;
}

.dm-poster > img {
  width: 280px;
  height: 420px;
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.dm-content .dm-info {
  margin-left: 40px;
  color: whitesmoke;
}

.dm-info .dm-title {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 8px;
}

.dm-info .dm-tagline {
  margin-bottom: 24px;
  font-size: 1.2rem;
  font-weight: bold;
}

.dm-info .dm-genre .label {
  cursor: pointer;
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}

@media screen and (max-width: 992px) {
  .dm-backdrop {
    height: 455px;
  }

  .dm-poster {
    width: 250px;
    height: 375px;
  }

  .dm-poster > img {
    width: 250px;
    height: 375px;
  }

  .dm-blank {
    width: 290px;
    height: 455px;
  }

  .dm-backdrop > img {
    left: 290px;
    width: calc(100% - 290px);
    height: 455px;
  }

  .dm-backdrop-overlay {
    left: 290px;
    width: calc(100% - 290px);
    height: 455px;
  }

  .dm-info .dm-title {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 768px) {
  .dm-backdrop {
    height: 400px;
  }

  .dm-poster {
    width: 232px;
    height: 348px;
  }

  .dm-poster > img {
    width: 232px;
    height: 348px;
  }

  .dm-blank {
    width: 258px;
    height: 400px;
  }

  .dm-backdrop > img {
    left: 258px;
    width: calc(100% - 258px);
    height: 400px;
  }

  .dm-backdrop-overlay {
    left: 258px;
    width: calc(100% - 258px);
    height: 400px;
  }

  .dm-content {
    top: 26px;
    left: 26px;
    width: calc(100% - 52px);
    height: calc(100% - 52px);
  }

  .dm-content .dm-info {
    margin-left: 26px;
    max-height: 348px;
    overflow-y: scroll;
  }

  .dm-info .dm-title {
    font-size: 1.5rem;
  }

  .dm-info .dm-tagline {
    margin-bottom: 12px;
    font-size: 1rem;
  }

  .dm-info .dm-release {
    font-size: 0.9rem;
  }

  .dm-info .dm-overview {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 650px) {
  .dm-blank {
    display: none;
  }

  .dm-backdrop {
    width: 100%;
    height: 400px;
    position: relative;
  }

  .dm-backdrop > img {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
  }

  .dm-backdrop-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: rgba(17, 17, 17, 0.8);
  }

  .dm-poster {
    display: none;
  }

  .dm-content {
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .dm-content .dm-info {
    margin-left: 0;
    max-height: unset;
    overflow-y: visible;
  }

  .dm-info .dm-title {
    font-size: 1.6rem;
  }

  .dm-info .dm-tagline {
    margin-bottom: 12px;
    font-size: 0.9rem;
  }

  .dm-info .dm-release {
    font-size: 0.8rem;
  }

  .dm-info .dm-overview {
    font-size: 0.8rem;
  }

  .dm-info .dm-genre .label {
    font-size: 0.8rem;
  }
}
