.dm-image {
  padding: 20px 40px;
  background-color: #111111;
  color: whitesmoke;
  position: relative;
}

.dm-image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 10px;
}

.dm-image-container {
  width: auto;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.dm-image-container > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.dm-image-title span {
  color: #e14b4b;
  font-size: 1.1rem;
  display: inline-block;
  margin-left: 20px;
}

@media screen and (max-width: 992px) {
  .dm-image-list {
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .dm-image-list {
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 576px) {
  .dm-image {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 450px) {
  .dm-image-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
