.dm-cast {
  padding: 20px 40px;
  background-color: #111111;
  color: whitesmoke;
  position: relative;
}

.dm-cast-list {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.dm-cast-all {
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.dm-cast-all:hover {
  color: #e14b4b;
}

@media screen and (max-width: 576px) {
  .dm-cast {
    padding: 15px 20px;
  }

  .dm-cast-title {
    font-size: 1.4rem;
  }

  .dm-cast-all {
    top: 15px;
    right: 20px;
  }
}
