.dp-movie-person-cast-in {
  padding: 20px 40px;
  background-color: #111111;
  color: whitesmoke;
  position: relative;
}

@media screen and (max-width: 576px) {
  .dp-movie-person-cast-in {
    padding: 15px 20px;
  }
}
