.dmcast-main .title {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dmcast-main .title h3 {
  color: #143f6b !important;
  margin: 0 !important;
}

.dmcast-main .title button {
  margin: 0 !important;
  padding: 8px 16px !important;
}

/* Modal */
.dmcast-main-modal .header {
  color: #143f6b !important;
}

@media screen and (max-width: 768px) {
  .dmcast-main-modal .header {
    font-size: 1.2rem !important;
  }
}
