.dmimage-main .title {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dmimage-main .title h3 {
  color: #143f6b !important;
  margin: 0 !important;
}

.dmimage-main .title button {
  margin: 0 !important;
  padding: 8px 16px !important;
}

.dmimage-main .dmimage-main-list {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.dmimage-main .dmimage-main-list .img-container {
  width: 120px;
  min-width: 120px;
  height: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.dmimage-main .dmimage-main-list .img-container:last-child {
  margin-right: 0;
}

.dmimage-main .dmimage-main-list .img-container:hover > img {
  transform: scale(0.95);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.dmimage-main .dmimage-main-list .img-container > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease;
}

/* Custom scrollbar of .dmimage-main-list */
.dmimage-main-list::-webkit-scrollbar {
  height: 10px;
}

.dmimage-main-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(235, 235, 235, 0);
}

.dmimage-main-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(20, 63, 107, 0);
}

.dmimage-main:hover .dmimage-main-list::-webkit-scrollbar-track {
  background-color: rgba(235, 235, 235, 0.3);
}

.dmimage-main:hover .dmimage-main-list::-webkit-scrollbar-thumb {
  background: rgb(20, 63, 107);
}

/* Modal */
.dmimage-main-modal img {
  width: auto;
  height: 80vh;
  object-fit: cover;
  object-position: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dmimage-main-modal i {
  font-family: "Font Awesome 6 Free" !important;
  font-size: 5rem;
  color: rgba(245, 245, 245, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dmimage-main-modal i:hover {
  color: #143f6b;
}

.dmimage-main-modal .content {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .dmimage-main-modal img {
    height: 70vh;
  }
}

@media screen and (max-width: 576px) {
  .dmimage-main-modal img {
    height: 50vh;
  }

  .dmimage-main-modal i {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 400px) {
  .dmimage-main-modal img {
    height: 40vh;
  }

  .dmimage-main-modal i {
    font-size: 3.5rem;
  }
}
