.dm-crew {
  padding: 20px 40px;
  background-color: #111111;
  color: whitesmoke;
}

.dm-crew-list {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

@media screen and (max-width: 576px) {
  .dm-crew {
    padding: 15px 20px;
  }

  .dm-crew-title {
    font-size: 1.5rem;
  }
}
