.detail-people-page {
  width: 100%;
  background-color: #111111;
  padding-left: 0;
  padding-top: 60px;
  transition: all 0.3s ease;
  position: relative;
}

.dp-backdrop {
  width: 100%;
  height: 500px;
  position: relative;
}

.dp-blank {
  width: 320px;
  height: 500px;
  background-color: #111111;
}

.dp-backdrop > img {
  display: block;
  position: absolute;
  top: 0;
  left: 320px;
  width: calc(100% - 320px);
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.dp-backdrop-overlay {
  position: absolute;
  top: 0;
  left: 320px;
  width: calc(100% - 320px);
  height: 500px;
  background: rgb(17, 17, 17);
  background: linear-gradient(90deg, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0.8) 50%, rgba(17, 17, 17, 0.8) 100%);
}

.dp-content {
  position: absolute;
  top: 40px;
  left: 40px;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.dp-poster {
  width: 280px;
  height: 420px;
}

.dp-poster > img {
  width: 280px;
  height: 420px;
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.dp-content .dp-info {
  margin-left: 40px;
  color: whitesmoke;
}

.dp-info .dp-name {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 8px;
}

.dp-deathday,
.dp-birthplace,
.dp-birthday {
  margin-top: 12px;
}

.dp-biography {
  padding: 20px 40px;
  background-color: #111111;
  color: whitesmoke;
}

.dp-biography > div {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.8;
}

@media screen and (max-width: 992px) {
  .dp-backdrop {
    height: 455px;
  }

  .dp-poster {
    width: 250px;
    height: 375px;
  }

  .dp-poster > img {
    width: 250px;
    height: 375px;
  }

  .dp-blank {
    width: 290px;
    height: 455px;
  }

  .dp-backdrop > img {
    left: 290px;
    width: calc(100% - 290px);
    height: 455px;
  }

  .dp-backdrop-overlay {
    left: 290px;
    width: calc(100% - 290px);
    height: 455px;
  }

  .dp-info .dp-name {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 768px) {
  .dp-backdrop {
    height: 400px;
  }

  .dp-poster {
    width: 232px;
    height: 348px;
  }

  .dp-poster > img {
    width: 232px;
    height: 348px;
  }

  .dp-blank {
    width: 258px;
    height: 400px;
  }

  .dp-backdrop > img {
    left: 258px;
    width: calc(100% - 258px);
    height: 400px;
  }

  .dp-backdrop-overlay {
    left: 258px;
    width: calc(100% - 258px);
    height: 400px;
  }

  .dp-content {
    top: 26px;
    left: 26px;
    width: calc(100% - 52px);
    height: calc(100% - 52px);
  }

  .dp-content .dp-info {
    margin-left: 26px;
    max-height: 348px;
    overflow-y: scroll;
  }

  .dp-info .dp-name {
    font-size: 1.5rem;
  }

  .dp-info .dp-biography {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 650px) {
  .dp-blank {
    display: none;
  }

  .dp-backdrop {
    width: 100%;
    height: 400px;
    position: relative;
  }

  .dp-backdrop > img {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
  }

  .dp-backdrop-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: rgba(17, 17, 17, 0.8);
  }

  .dp-poster {
    width: 150px;
    height: 220px;
    margin-right: 12px;
  }

  .dp-poster > img {
    width: 150px;
    height: 220px;
    display: block;
    object-fit: cover;
    object-position: top;
  }

  .dp-content {
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .dp-content .dp-info {
    margin-left: 0;
    max-height: unset;
    overflow-y: visible;
  }

  .dp-info .dp-name {
    font-size: 1.6rem;
  }

  .dp-info .dp-biography {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 576px) {
  .dp-biography {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 400px) {
  .dp-poster {
    width: 100px;
    height: 150px;
    margin-right: 12px;
  }

  .dp-poster > img {
    width: 100px;
    height: 150px;
    display: block;
    object-fit: cover;
    object-position: top;
  }

  .dp-info .dp-name {
    font-size: 1.4rem;
  }

  .dp-deathday,
  .dp-birthplace,
  .dp-birthday {
    margin-top: 6px;
    font-size: 0.9rem;
  }
}
