.moviebar-list {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.moviebar-title {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moviebar-title h3 {
  color: #143f6b !important;
  margin: 0 !important;
}

.moviebar-title button {
  margin: 0 !important;
  padding: 8px 16px !important;
}

.moviebar-main {
  margin-bottom: 40px;
}

/* Custom scrollbar of .moviebar-list */
.moviebar-list::-webkit-scrollbar {
  height: 10px;
}

.moviebar-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(235, 235, 235, 0);
}

.moviebar-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(20, 63, 107, 0);
}

.moviebar-main:hover .moviebar-list::-webkit-scrollbar-track {
  background-color: rgba(235, 235, 235, 0.3);
}

.moviebar-main:hover .moviebar-list::-webkit-scrollbar-thumb {
  background: rgb(20, 63, 107);
}
