.trailer-player {
  padding: 20px 40px;
  background-color: #111111;
}

.trailer-player > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trailer-player > div > iframe {
  display: block;
}
