* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
}

@import "./style/Navbar.css";
@import "./style/HomePage.css";
@import "./style/CardMovie.css";
@import "./style/ModalMovie.css";
@import "./style/Movie.css";
